packages/**/*.js
packages/**/*.js.map
packages/**/*.d.ts
packages/**/*.d.ts.map
node_modules/
coverage
*.tsbuildinfo
packages/template
yarn-error.log
yarn.lock
packages/**/node_modules/
**/credentials.js