
:host(.container) {
  flex-grow: 1;
  margin: 0 auto;
  position: relative;
  width: auto;
  @media screen and (min-width: var(--desktop)) {
    max-width: var(--desktop) - var(--container-offset);
    &.is-fluid {
      margin-left: var(--gap);
      margin-right: var(--gap);
      max-width: none;
    }
  }
  @media screen and (max-width: var(--desktop) - 1px) {
    &.is-widescreen {
      max-width: calc(var(--widescreen) - var(--container-offset));
    }
  }
  @media screen and (max-width: var(--fullhd) - 1px) {
    &.is-fullhd {
      max-width: calc(var(--fullhd) - var(--container-offset));
    }
  }
  @media screen and (min-width: var(--widescreen)) {
    max-width: calc(var(--widescreen) - var(--container-offset));
  }
  @media screen and (min-width: var(--fullhd)) {
    max-width: calc(var(--fullhd) - var(--container-offset));
  }
}
