:host {
  display: block;
  position: relative;
  img,
  ::slotted(*) {
    display: block;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    margin: 0 auto;
    width: auto;
    transition: opacity var(--speed, 86ms) var(--easing, ease-out);
    opacity: 1;
  }
  slot[hidden] {
    display: none;
  }
  img[hidden] {
    opacity: 0;
  }
}

:host([rounded]) {
  img {
    border-radius: var(--radius-rounded, 290486px);
  }
}

:host([fullwidth]) {
  img {
    width: 100%;
  }
}
