:host {
  --button-color: var(--color-primary, black);
  --button-background: white;
  --button-background--hover: var(--color-primary, white);
  --button-color--hover: var(--button-background, black);
  --button-background--disabled: transparent;
  --button-color--disabled: var(--grey-light, white);
  & button {
    transition: var(--transition, 0.3s all ease-in);
    &.mdc-button/*, ios*/ {
      color: var(--button-color--disabled);
      background-color: var(--button-background--disabled);
      &:after,
      &:before {
        background-color: var(--button-background--disabled);
      }
      &:not(:disabled) {
        color: var(--button-color);
        background-color: var(--button-background);
        border-color: var(--button-border-color, --button-background);
        &:hover {
          background-color: var(--button-background--hover);
          color: var(--button-color--hover);
        }
        &:before {
          background-color: var(
            --button-background--active,
            --button-background
          );
        }
        &:after {
          background-color: var(
            --button-background--active,
            --button-background
          );
        }
      }
    }
  }
}
// background-color: var(--button-background-color);
// border-color: var(--button-border-color);
// border-width: var(--button-border-width);
// color: var(--button-color);
// cursor: pointer;
// justify-content: center;
// padding-bottom: var(--button-padding-vertical);
// padding-left: var(--button-padding-horizontal);
// padding-right: var(--button-padding-horizontal);
// padding-top: var(--button-padding-vertical);
// text-align: center;
// white-space: nowrap;
// &:hover {
//   background-color: var(--button-background-color--hover);
//   border-color: var(--button-border-color--hover);
//   border-width: var(--button-border-width--hover);
//   color: var(--button-color--hover);
//   filter: brightness(80%);
// }

// &:active {
//   background-color: var(--button-background-color--active);
//   border-color: var(--button-border-color--active);
//   border-width: var(--button-border-width--active);
//   color: var(--button-color--active);
//   filter: brightness(60%);
// }

// [selected] {
//   background-color: var(--button-background-color--selected);
//   border-color: var(--button-border-color--selected);
//   border-width: var(--button-border-width--selected);
//   color: var(--button-color--selected);
// }

// &[disabled] {
//   background-color: var(--button-background-color--disabled);
//   border-color: var(--button-border-color--disabled);
//   border-width: var(--button-border-width--disabled);
//   color: var(--button-color--disabled);
//   opacity: var(--button-opacity--disabled);
//   pointer-events: none;
//   cursor: default;
//   filter: grayscale(100%);
// }
