button {
  background-color: var(--button-background-color);
  border-color: var(--button-border-color);
  border-width: var(--button-border-width);
  color: var(--button-color);
  cursor: pointer;
  justify-content: center;
  padding-bottom: var(--button-padding-vertical);
  padding-left: var(--button-padding-horizontal);
  padding-right: var(--button-padding-horizontal);
  padding-top: var(--button-padding-vertical);
  text-align: center;
  white-space: nowrap;
  &:hover {
    background-color: var(--button-background-color--hover);
    border-color: var(--button-border-color--hover);
    border-width: var(--button-border-width--hover);
    color: var(--button-color--hover);
  }

  &:active {
    background-color: var(--button-background-color--active);
    border-color: var(--button-border-color--active);
    border-width: var(--button-border-width--active);
    color: var(--button-color--active);
  }

  [selected] {
    background-color: var(--button-background-color--selected);
    border-color: var(--button-border-color--selected);
    border-width: var(--button-border-width--selected);
    color: var(--button-color--selected);
  }

  &[disabled] {
    background-color: var(--button-background-color--disabled);
    border-color: var(--button-border-color--disabled);
    border-width: var(--button-border-width--disabled);
    color: var(--button-color--disabled);
    opacity: var(--button-opacity--disabled);
    pointer-events: none;
    cursor: default;
  }
}
