:host {
  --button-family: var(--family-sans-serif, 'Helvetica Neue');

  --button-border-width: 1px;
  --button-padding-vertical: calc(0.375em - var(--button-border-width));
  --button-padding-horizontal: 0.75em;
  --button-border-radius: var(--radius)
  
  --button-color: var(--grey-darker);
  --button-background-color: var(--white);
  --button-border-color: var(--grey-lighter);
  --button-box-shadow: 0 0 0 0;

  --button-color--hover: var(--grey-darker);
  --button-background-color--hover: var(--white);
  --button-border-color--hover: var(--grey-lighter);
  --button-box-shadow--hover: 0 0 0 0;
  
  --button-color--active: var(--grey-darker);
  --button-background-color--active: var(--white);
  --button-border-color--active: var(--grey-lighter);
  --button-box-shadow--active: 0 0 0 0;

  --button-color--selected: var(--grey-darker);
  --button-background-color--selected: var(--white);
  --button-border-color--selected: var(--grey-lighter);
  --button-box-shadow--selected: 0 0 0 0;

  --button-color--disabled: var(--grey-darker);
  --button-background-color--disabled: var(--white);
  --button-border-color--disabled: var(--grey-lighter);
  --button-box-shadow--disabled: 0 0 0 0;
  --button-opacity--disabled: 0.5;

  --transition: var(--transition);
}